@font-face {
  font-family: 'MontserratBold';
  src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 1500;
  font-style: normal;
}
body {
      
      font-family:"MontserratBold";
    }
    .content {
      position: relative;
  z-index: 3;
  padding-top: 150px; /* żeby tytuł nie był pod chmurami */
  padding-left: 2rem;
  padding-right: 2rem;
    }
    .cloud-wrapper {
      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding: 2rem;
      position: relative;
      animation: 1s ease-in 0s 1 slideIn;
      z-index: 1;
    }
    @keyframes slideIn {
0% {
  opacity: 0;
  transform: translateX(-10%);
}
100% {
  opacity: 1;
  transform: translateX(0%);
}

    }


    .dropdown {
      position: relative;
      width: 250px;
      height: 150px;
      z-index: 10;
      margin-bottom: 300px;
      opacity: 0.8;
    }
.dropdown:hover .dropdown-inner {
  transform: scale(1.15);
  transform-origin: center center;
}
.dropdown-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  z-index: 20;
}
    .cloud-img {
      
      pointer-events: auto;
      position: absolute;

      width: 100%;
      height: 100%;
      object-fit: contain;
      user-select: none;
    }

    .dropbtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      line-height: 1.2;
      color: #333;
      white-space: pre-line;
      cursor: pointer;
      z-index: 2;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f9f9f9;
      min-width: 180px;
      border-radius: 0.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      z-index: 30;
    }

    .dropdown-content a {
      display: block;
      padding: 10px 14px;
      text-decoration: none;
      color: black;
      

    }

    .dropdown-content a:hover {
      z-index: 30;
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content,
.dropdown-content:hover {
  z-index: 30;
  display: block;
  
}
.title-container {

    display: flex;
    justify-content: center; /* poziomo */
    align-items: center;     /* pionowo, jeśli chcesz */
    width: 100%;
}

    #title1 {
z-index: 3;
      color: white;
      font-size: 8rem;
      justify-self: center;
      
      text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    #sky {
      overflow: hidden;
      position: fixed; 
      height: 100vh;
      width: 100vw;
      background-color: rgba(155, 178, 255, 1);
      background-image: linear-gradient(0deg, rgba(155, 178, 255, 1) 0%, rgba(163, 195, 255, 1) 50%, rgba(255, 253, 127, 1) 75%, rgba(255, 253, 127, 1) 100%);
      background-repeat: no-repeat;
      z-index: 0;
      
    }
    @keyframes moveUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(-100vh);
    }
}

.cloud {
  z-index: 1;
  opacity: 0.2;
pointer-events: none;
    animation: moveUp 50s linear infinite;
}
#zrodlo {
  float: right;
  padding: 10px;
  font-size: 0.8rem;
  position: fixed;
     bottom: 0;
     right: 0;

}