@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'MontserratBold';
  src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 1500;
  font-style: normal;
}
body {
      overflow: hidden;
      font-family:"Montserrat";
	  margin: auto;
	  display: block;
	  margin: 0;
    }
h2 {
	font-family:"MontserratBold";
	color: white;
      font-size: 4rem;
      text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
    html {
        --gap: 1rem;
		--text-font-size: 2.2rem;
    }
}
@media (max-width: 1200px) {
    html {
        --gap: 2rem;
		--text-font-size: 1.1rem;
    }
}
.page-wrap {
	padding: 0 var(--gap);
}
html {
    --maxWidth: 1600px;
    --gap: 3rem;
    scrollbar-color: #666 #201c29;
    color: #fff;
    overflow-x: hidden;
    --featured-img: linear-gradient(180deg, #fff, #514d8a);
    --bg-blend-mode: overlay;
    background-color: #262626;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: radial-gradient(50% 50% at top center, rgba(155, 178, 255, 1), rgb(108, 139, 240)), var(--featured-img);
    
}
.content {
	background-color: white;
	border-radius: 20px;
	color: #201c29;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.1rem;
	z-index: 1;
	max-width: 90rem;
	margin-bottom: 2.5rem;

}
ol li {
	font-size: larger;
	font-weight: 1000;
	margin-bottom: 15px;
}
.ol-example li {
	font-size:medium;
	margin-bottom: 0px;
	font-weight: 100;
}
.code {
	background-color: black;
	border-radius: 10px;
	color: #fff;
	padding: 5px;
	padding-left: 25px;
	border-color: rgb(74, 74, 231);
	border-width:0.2rem;
	border-style: solid;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: var(--text-font-size)
	
}
#sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

@keyframes moveLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-200vw); }
}

.cloud {
  position: absolute;
  top: 0;
  left: 100vw; /* start na prawej krawędzi */
  pointer-events: none;
  opacity: 0.2;
  animation-name: moveLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wrapper {
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	position: relative;
	
}
.wrapper div {
	padding: 40px;
	justify-self: center;
}